/* HEADER */
header {
    background: #B6FF00;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    margin: 0;
}

.header-logo{
    width: 100px;
}

.navbar .nav-link{
    color: gb(106,1,254);
}

/* MAIN */

.main-section {
    display: flex;
    gap: 40px;
}
.details-section {
    display: flex;
    flex-direction: column;
}

.img-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img-fluid {
    max-width: 350px;
}

.fav-buttons {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 30px;

}

.description {
    max-width: 300px;
}

h3 {
    font-weight: 700;
    font-size: 1rem;
}

.detail-title {
    font-weight: 700;
}


.return-buttons {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    gap: 10px;
}


iframe {
    width: 100%;
    height: 100%;
}